@import './resets';
@import './variables';

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name );
}

body {
    background: $primary-color;
    color: $test-color;
}

.main {
    width: 80%;
    margin: 0 auto;

    #{&}__p {
    font-weight: weight(bold);

    &:hover {
        color: teal;
    }

    }
}